/* Manrope variable, distribuée sous licence OFL (Manrope-OFL.txt). */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url('./manrope-variable.woff2') format('woff2');
}
